.page-header {
  margin: 0; 
  .page-title {
    padding: $gutter-width-desktop;
    padding-bottom: 0;
    margin: 0;
    font-size: 2.5rem;
  }
}
.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  min-height: 100%;
  column-gap: $gutter-width-desktop;
  row-gap: $gutter-width-desktop;
  max-width: 1400px; 
  margin: 0 auto;
  padding: $gutter-width-desktop;
  >article, >section{
    border: $line-border; 
    display: grid;
    grid-template-rows: min-content auto min-content;
    margin-bottom: 0;
    .entry-header {
      align-self: start;
    }
    .entry-title, .entry-content, .wp-block-group__inner-container h2,  .wp-block-group__inner-container ul{
      padding: $gutter-width-desktop/2;
    }
    .entry-title, .entry-content, .entry-meta, .wp-block-group__inner-container ul{
      margin: 0;
    }
    .entry-title, .entry-meta, .wp-block-group__inner-container h2{
      border-bottom: $line-border;
    }
    .entry-content p{
      margin:0;
    }
    .entry-content {
      justify-content: stretch;
    }
    .entry-meta {
      display: flex;
      padding: 0;
      a {
        color: $black;
      }
      >span{
        border-right: $line-border;
      }
      >*{
        padding: $gutter-width-desktop/2;
        font-size: 0.8rem;
      }
      .posted-on{
        a {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    .post-thumbnail img {
      display:block;
    }
  }
  .has-post-thumbnail {
    grid-column: span 2;
    grid-row: span 2;
  }
  .entry-footer {
    border-top: $line-border;
    display:flex;
    justify-content: flex-end;
    margin: 0;
    align-self: end;
    width: 100%;
    a {
      padding: $gutter-width-desktop/2;
      border-left: $line-border;
      display:block;
      background: $secondary-color;
      color: $black;
      font-family: $b-font;
      text-decoration: none;
      margin:0;
      font-size: 0.8rem;
      line-height: 1;
      font-weight: bold;
    }
  }
  @media (min-width: 601px) and (max-width: 850px){
    grid-template-columns: 1fr 1fr;
  }
  @media all and (max-width: 600px){
    grid-template-columns: 1fr;
    .has-post-thumbnail {
      grid-column: auto;
      grid-row: auto;
    }
  }
}
.entry-title {
  a {
    color: $black;
    text-decoration: none;
  }
}
.main-sidebar{
  border-top: $line-border;
  .wp-block-group__inner-container h2 {
    margin:0;
  }
  .widget_search {
    padding: $gutter-width-desktop;
    border-bottom: $line-border;
  }
  ul {
    list-style-type: none;
  }
}