@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;800&family=Special+Elite&display=swap');
$deco-font: "Fira Sans";
$h-font:'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
// $b-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
$b-font: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: $b-font;
	font-size: 1rem;
	line-height: 1.5;
  font-weight: 400;
}
h1, h2, h3, h4 {
  font-family: $b-font;
  font-weight: 600;
}

p {
	line-height: 1.65;
}